
@model CourseProject.ViewModels.AddOrderModel

<h2>Добавление отклика</h2>
@{
    var order = ViewData["Order"] as Order;
    <form asp-action="Update" asp-controller="Order">
        <div>
            <div class="invisible">
                <label asp-for="OrderId">Id заказа: </label><br />
                <input readonly="readonly" type="text" asp-for="OrderId" />
            </div>
            <div>
                <label asp-for="ShortDesc">Краткое описание заказа</label><br />
                <input type="text" asp-for="ShortDesc" value="@order.ShortDesc" />
            </div>
            <div>
                <label asp-for="CategoryId">Category</label>
                <select asp-for="CategoryId" asp-items="ViewBag.Categories"></select>
            </div>
            <div>
                <label asp-for="LongDesc">Описание: </label><br />
                <textarea class="form-control" rows="3" asp-for="LongDesc">@order.LongDesc</textarea>
            </div>
            <div>
                <label asp-for="Price">Введите цену: </label><br />
                <input asp-for="Price" value="@order.Price" />
            </div>
            <div>
                <input type="submit" value="Изменить" />
            </div>
        </div>
    </form>
}